.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffff;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product__info {
    height: 100px;
    margin-bottom: 35px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.product__rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -14px;
}

.product__price {
    display: flex;
    align-items: center;
}

.product>img {
    object-fit: contain !;
    margin-bottom: 15px;
}

.product_button {
    background-color: #f0d14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
}

.product_button:hover {
    background-color: #9c7e31;
    color: #fff;
}

.product__image {
    width: 300px;
    height: 300px;
}

.product_text {
    line-height: 51px;
    padding-bottom: 25px;
}

.products-data {
    border-radius: 8px;
    border: 1px solid lightgray;
    /* max-height: 509px; */
    padding-top: 6px;
    margin-left: 61px;
}

.product-price-page {
    color: #b12755;
    font-size: 18px !important;
}

.product-location {
    font-size: 12px;
}

.stock {
    color: #b12755;
    font-size: 18px !important;
    margin-bottom: 30px;
    margin-top: 30px;
}

.products-page {
    padding-top: 130px;
}

.text {
    font-size: 14px;
}

.line {
    line-height: 100px;
}