    .subtotal {
        display: flex !important;
        flex-direction: column !important;
        background-color: #f3f3f3 !important;
        border: 1px solid #dddddd !important;
        border-radius: 3px !important;
        max-height: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
    }