.subtotal{
    display: flex !important;
    flex-direction: column !important;
    width: 300px !important;
    height: 100px !important;
    padding: 20px !important;
    background-color:#f3f3f3 !important;
    border: 1px solid #dddddd !important;
    border-radius: 3px !important;
    position: relative;
    left:  20%;
    top: 20%;

}
.amazon_button{
    
    background-color: #f0d14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    padding: 7px;
}