.App {
    text-align: center;
    font-family: "Amazon Ember", Arial, sans-serif;
    color: black !important;
}

.amazon_button {
    color: #333 !important;
    background-color: #ffd814 !important;
    transition: 0.5s ease-in-out !important;
    padding: 7px 65px !important;
    border-radius: 31px !important;
}

.amazon_button:hover {
    background-color: #ffa41c !important;
}